<link rel="stylesheet" href="stylesheets/js-crop.css" />
<script src="javascripts/js-crop.js"></script>

<!-- vendroid assets starts -->



<!-- CSS -->


<!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
<link href="vendroid/css/font-entypo.css" rel="stylesheet" type="text/css">

<!-- Fonts CSS -->
<link href="vendroid/css/fonts.css" rel="stylesheet" type="text/css">

<!-- Plugin CSS -->
<link href="vendroid/plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


<link href="vendroid/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<link href="vendroid/plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

<!-- Specific CSS -->
<link href="vendroid/plugins/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<link href="plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
<link href="../plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">

<!-- Theme CSS -->
<link href="vendroid/css/theme.min.css" rel="stylesheet" type="text/css">
<!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
<link href="vendroid/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->



<!-- Responsive CSS -->
<link href="vendroid/css/theme-responsive.min.css" rel="stylesheet" type="text/css">




<!-- for specific page in style css -->
<style>
    .form-wizard .nav>li>a {
        padding: 10px;
        margin-right: 0;
        text-align: left;
        color: #888888;
    }

    .tab-right {
        margin-left: -30px;
        margin-top: -1px;
    }

    .tab-right .panel {
        margin-right: -30px;
    }

    .tab-right .vd_panel-menu {
        right: 28px;
        top: -15px;
    }

    .tab-right h3 {
        border-bottom: 1px solid #EEEEEE;
    }

    table .vd_radio label:after {
        top: 0;
    }

    .cropper-container {
  margin: 0 auto 20px auto;
}
</style>

<!-- for specific page responsive in style css -->
<style>
    @media (max-width: 767px) {
        .tab-right {
            margin-left: 0;
            margin-top: 0;
        }

        .tab-right .panel {
            margin-right: 0;
        }

    }
</style>


<!-- Custom CSS -->
<link href="vendroid/custom/custom.css" rel="stylesheet" type="text/css">



<!-- Head SCRIPTS -->
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script
    src="http://www.venmond.com/demo/vendroid/js/modernizr.js?cb=1612418123907&amp;fingerprint=c2VwLW5vLXJlZGlyZWN0&amp;onIframeFlag"></script>
<script
    data-dapp-detection="">!function () { let e = !1; function n() { if (!e) { const n = document.createElement("meta"); n.name = "dapp-detected", document.head.appendChild(n), e = !0 } } if (window.hasOwnProperty("ethereum")) { if (window.__disableDappDetectionInsertion = !0, void 0 === window.ethereum) return; n() } else { var t = window.ethereum; Object.defineProperty(window, "ethereum", { configurable: !0, enumerable: !1, set: function (e) { window.__disableDappDetectionInsertion || n(), t = e }, get: function () { if (!window.__disableDappDetectionInsertion) { const e = arguments.callee; e && e.caller && e.caller.toString && -1 !== e.caller.toString().indexOf("getOwnPropertyNames") || n() } return t } }) } }();</script>
<script type="text/javascript" src="js/mobile-detect.min.js"></script>
<script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>     
    <![endif]-->

<style>
    .cke {
        visibility: hidden;
    }
</style>
<!-- vendroid assets ends -->

<script>
    cropper = jsCrop.initialise(document.getElementById("cropTest"), {
        "outputCanvas": document.getElementById("crop-result")
    });

    cropper = jsCrop.initialise(document.getElementById("imageToCrop"), {
        "outputCanvas": document.getElementById("crop-result"),
        "startInCropMode": false
    });

    cropper.enableCropMode(ELEMENT.classList.toggle("pressed"));

    cropper.setCropRegion(10, 10, 150, 250);

    cropper.setOutputCanvas(canvasElement);

    cropper.drawCroppedImage();

    cropper.destroy();


</script>

<link href="stylesheets/cropper.min.css" rel="stylesheet">
<script src="javascripts/cropper.min.js"></script>


</head>


<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <!-- vendroid imported -->

    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_title-section clearfix">
                <div class="vd_panel-header">
                    <h1>Add Product</h1>
                    <small class="subtitle">Ecommerce Pages: Add Product</small>
                    <div class="vd_panel-menu hidden-xs">
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-search"></i></span>Preview
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-copy"></i></span>Duplicate
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-money"></i></span>Product Sales
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-trash-o"></i></span>Delete
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-support"></i></span>Help
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vd_content-section clearfix" id="ecommerce-product-add">
                <div class="row">
                    <div class="col-sm-12 tab-right">
                        <div class="panel widget panel-bd-left light-widget">
                            <div class="panel-heading no-title"></div>

                            <div class="panel-body">
                                <div class="tab-content no-bd mgbt-xs-20">
                                    <div id="tabinfo" class="tab-pane active">
                                        <form class="form-horizontal" action="/admin/add_product" method="POST"
                                            enctype="multipart/form-data">

                                            <h3 class="mgtp-15 mgbt-xs-20">
                                                Product Information
                                            </h3>

                                            <div class="form-group">
                                                <label for="name_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="The public name for this product. Invalid characters &lt;&gt;;=#{}">
                                                        Product Name
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" required value="" name="name"
                                                        class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label class="control-label col-lg-3"><span data-toggle="tooltip"
                                                        class="label-tooltip" data-original-title="Product type">
                                                        For
                                                    </span></label>
                                                <div class="col-lg-9">
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" checked="" value="Men" name="for"
                                                            id="simple_product" />
                                                        <label for="simple_product">Men</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Women" name="for"
                                                            id="pack_product" />
                                                        <label for="pack_product">Women</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Boys" name="for"
                                                            id="virtual_product" />
                                                        <label for="virtual_product">Boys</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Girls" name="for"
                                                            id="virtual_product" />
                                                        <label for="virtual_product">Girls</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Category
                                                    </span>
                                                </label>
                                                <div class="col-lg-5">
                                                    <div class="row mgbt-xs-0">

                                                        <div class="col-sm-4">

                                                            <select id="category" name="category" required>
                                                                <option value="">Select</option>
                                                                {{#each menCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each womenCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each boysCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each girlsCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Price
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="number" required value="REF-0102392" name="price"
                                                        class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Stock
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="number" required value="REF-0102392" name="stock"
                                                        class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>

                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="description_short_1" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the product list(s), and at the top of the product page.">
                                                        Short description
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <textarea name="shortDescription" id="description_short_1"
                                                        data-rel="ckeditor" rows="1"></textarea>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="description_1" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the body of product detail.">
                                                        Description
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <textarea name="description" id="description_1" data-rel="ckeditor"
                                                        rows="1"></textarea>
                                                </div>
                                            </div>
                                            <!-- form-group -->


                                            <div id="" class="">
                                                <h3 class="mgtp-15 mgbt-xs-20">Images</h3>


                                                <div class="form-group">
                                                    <label class="control-label col-lg-3 file_upload_label">
                                                        <span title="" data-toggle="tooltip" class="label-tooltip"
                                                            data-original-title="Format JPG, GIF, PNG. Filesize 8.00 MB max.">
                                                            Add 5 images to this product
                                                        </span>
                                                    </label>

                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image1"
                                                                id="fileupload" class="js-photo-upload" onchange="viewImage1(event)">
                                                                
                                                        </span>
                                                        </div>




                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img1-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="" style="width: 60px;display:none"
                                                                        alt="product image" id="img1Disp" />

                                                        </div>


                                                    </div>
                                                    
                                                    <div class="row mt-3">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image2"
                                                                id="fileupload" onchange="viewImage2(event)"
                                                                />
                                                        </span>
                                                        <br />
                                                        <br />
                                                        </div>

                                                        <h6 id="not-img2-error" style="color: rgb(163, 24, 24);display: none">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">
                                                        <img src="" style="width: 60px;display: none"
                                                                        alt="product image" id="img2Disp" />
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image3"
                                                                id="fileupload" onchange="viewImage3(event)"
                                                                />
                                                        </span>
                                                        <br />
                                                        <br />
                                                        </div>

                                                        <h6 id="not-img3-error" style="color: rgb(163, 24, 24);display: none">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">
                                                        <img src="" style="width: 60px;display: none"
                                                                        alt="product image" id="img3Disp" />
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image4"
                                                                id="fileupload" onchange="viewImage4(event)"
                                                                />
                                                        </span>
                                                        <br />
                                                        <br />
                                                        </div>

                                                        <h6 id="not-img4-error" style="color: rgb(163, 24, 24);display: none">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">
                                                        <img src="" style="width: 60px;display: none"
                                                                        alt="product image" id="img4Disp" />
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image5"
                                                                id="fileupload" onchange="viewImage5(event)"
                                                                />
                                                        </span>
                                                        <br />
                                                        <br />
                                                        </div>

                                                        <h6 id="not-img5-error" style="color: rgb(163, 24, 24);display: none">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">
                                                        <img src="" style="width: 60px;display: none"
                                                                        alt="product image" id="img5Disp" />
                                                        </div>
                                                        
                                                    </div>
                    
                                                      
                                                </div>

                                                <!-- *******need******* -->

                                                {{!-- <div class="image-container">
                                                    <img id="cropTest" src="img1.jpg" alt="Image" />
                                                </div>

                                                <div>
                                                    <img id="imageToCrop" src="imageToCrop.jpg">
                                                </div>

                                                <div class="canvas-container">
                                                    <canvas id="crop-result" width="200" height="300"></canvas>
                                                </div> --}}

                                                
                                                    
                                                        
                                                           
                                                                
                                                                    
                                                                
                                                            
                                                            {{!-- <td>Hard Disk</td>
                                                            <td class="pointer text-center" id="td_1">
                                                                1
                                                            </td>
                                                            <td class="cover">
                                                                <div class="vd_radio radio-success">
                                                                    <input type="radio" id="yes" name="optionyes"
                                                                        value="0" checked />
                                                                    <label for="yes">&nbsp;</label>
                                                                </div>
                                                            </td> --}}
                    
                                                <div>
                                                    <input id="add-product-button" type="submit"
                                                        class="btn vd_btn vd_bg-blue btn-sm save-btn text-center m-5"
                                                        value="Submit">
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                                <!-- #tabinfo -->

                            </div>
                            <!-- tab-content -->
                        </div>
                        <!-- panel-body -->

                        <!-- form-horizontal -->
                    </div>
                    <!-- Panel Widget -->
                </div>
                <!-- col-sm-12-->
            </div>
            <!-- row -->
        </div>
        <!-- .vd_content-section -->
    </div>
    <!-- .vd_content -->
    </div>
    <!-- .vd_container -->

    <!-- vendroid imported ends -->
    <script>
        var image = document.getElementById('imageToCrop');
        var myCropper = new Cropper(image, {
            // options here
            var myCropper = new Cropper(image, {

                // The view mode of the cropper
                viewMode: 0, // 0, 1, 2, 3

                // The dragging mode of the cropper
                dragMode: DRAG_MODE_CROP, // 'crop', 'move' or 'none'

                // The initial aspect ratio of the crop box
                initialAspectRatio: NaN,

                // The aspect ratio of the crop box
                aspectRatio: NaN,

                // An object with the previous cropping result data
                data: null,

                // A selector for adding extra containers to preview
                preview: '',

                // Re-render the cropper when resize the window
                responsive: true,

                // Restore the cropped area after resize the window
                restore: true,

                // Check if the current image is a cross-origin image
                checkCrossOrigin: true,

                // Check the current image's Exif Orientation information
                checkOrientation: true,

                // Show the black modal
                modal: true,

                // Show the dashed lines for guiding
                guides: true,

                // Show the center indicator for guiding
                center: true,

                // Show the white modal to highlight the crop box
                highlight: true,

                // Show the grid background
                background: true,

                // Enable to crop the image automatically when initialize
                autoCrop: true,

                // Define the percentage of automatic cropping area when initializes
                autoCropArea: 0.8,

                // Enable to move the image
                movable: true,

                // Enable to rotate the image
                rotatable: true,

                // Enable to scale the image
                scalable: true,

                // Enable to zoom the image
                zoomable: true,

                // Enable to zoom the image by dragging touch
                zoomOnTouch: true,

                // Enable to zoom the image by wheeling mouse
                zoomOnWheel: true,

                // Define zoom ratio when zoom the image by wheeling mouse
                wheelZoomRatio: 0.1,

                // Enable to move the crop box
                cropBoxMovable: true,

                // Enable to resize the crop box
                cropBoxResizable: true,

                // Toggle drag mode between "crop" and "move" when click twice on the cropper
                toggleDragModeOnDblclick: true,

                // Size limitation
                minCanvasWidth: 0,
                minCanvasHeight: 0,
                minCropBoxWidth: 0,
                minCropBoxHeight: 0,
                minContainerWidth: 200,
                minContainerHeight: 100,

                // Shortcuts of events
                ready: null,
                cropstart: null,
                cropmove: null,
                cropend: null,
                crop: null,
                zoom: null

            }
            });
           }
        });

        // enables the crop box
        myCropper.enable();

        // disables the crop box
        myCropper.disable();

        // destroys the crop box
        myCropper.destroy();

        // shows the crop box
        myCropper.crop();

        // resets the cropper
        myCropper.reset();

        // clears the crop box
        myCropper.clear();

        // replaces the image source
        myCropper.replace(url, hasSameSize);

        // moves the image wrapper
        myCropper.move(X, Y);

        // moves to a specific point
        myCropper.moveTo(X, Y);

        // zooms the image
        myCropper.zoom(ratio);

        // zooms to
        myCropper.zoomTo(ratio, pivot);

        // rotates the image
        myCropper.rotate(degree);

        // rotates to
        myCropper.rotateTo(degree);

        // scales the image
        myCropper.scale(scaleX, scaleY);
        myCropper.scaleX(scaleX);
        myCropper.scaleY(scaleY);

        // gets the cropper data
        myCropper.getData(rounded);

        // sets the cropper data
        myCropper.setData(data);

        // gets container's data
        myCropper.getContainerData();

        // gets image data
        myCropper.getImageData();

        // gets canvas data
        myCropper.getCanvasData();

        // sets canvas data
        myCropper.setCanvasData(data);

        // gets data of crop box
        myCropper.getCropBoxData();

        // set box data;
        myCropper.setCropBoxData(data);

        /*
          width: the destination width of the output canvas.
          height: the destination height of the output canvas.
          minWidth: the minimum destination width of the output canvas, the default value is 0.
          minHeight: the minimum destination height of the output canvas, the default value is 0.
          maxWidth: the maximum destination width of the output canvas, the default value is Infinity.
          maxHeight: the maximum destination height of the output canvas, the default value is Infinity.
          fillColor: a color to fill any alpha values in the output canvas, the default value is transparent.
          imageSmoothingEnabled: set to change if images are smoothed (true, default) or not (false).
          imageSmoothingQuality: set the quality of image smoothing, one of "low" (default), "medium", or "high".
        */
        myCropper.getCroppedCanvas(options);

        // sets aspect ratio
        myCropper.setAspectRatio(aspectRatio);

        // sets drag mode: 'none', 'crop', 'move'
        myCropper.setDragMode([mode])


    </script>

    


<script>
        function viewImage2(event) {
        document.getElementById('img2Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img2-error').hide()
            $('#img2Disp').show()
        } else {
            $('#not-img2-error').show()
            $('#add-product-button').hide()
            $('#img2Disp').hide()
        }
    }
</script>

<script>
        function viewImage3(event) {
        document.getElementById('img3Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img3-error').hide()
            $('#img3Disp').show()
        } else {
            $('#not-img3-error').show()
            $('#add-product-button').hide()
            $('#img3Disp').hide()
        }
    }
</script>

<script>
        function viewImage4(event) {
        document.getElementById('img4Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img4-error').hide()
            $('#img4Disp').show()
        } else {
            $('#not-img4-error').show()
            $('#add-product-button').hide()
            $('#img4Disp').hide()
        }
    }
</script>

<script>
        function viewImage5(event) {
        document.getElementById('img5Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img5-error').hide()
            $('#img5Disp').show()
        } else {
            $('#not-img5-error').show()
            $('#add-product-button').hide()
            $('#img5Disp').hide()
        }
    }
</script>



<script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload');

$jsPhotoUploadInput.on('change', function() {
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    $button.text('uploading...');
    $button.prop('disabled', true);

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    $('#img1Disp').attr('src', base64encodedImage);
    $(cropperModalId).modal('hide');
});
</script>

<script>
        function viewImage1(event) {
        document.getElementById('img1Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img1-error').hide()
            $('#img1Disp').show()
        } else {
            $('#not-img1-error').show()
            $('#add-product-button').hide()
            $('#img1Disp').hide()
        }
    }
</script>




    {{!-- <script>
        function viewImage1(event) {
            console.log('clicked')
            document.getElementById("img1Disp").src = URL.createObjectURL(event.target.files)
        }

        function viewImage2(event) {
            document.getElementById("img2Disp").src = URL.createObjectURL(event.target.files)
        }

        function viewImage3(event) {
            document.getElementById("img3Disp").src = URL.createObjectURL(event.target.files)
        }

        function viewImage4(event) {
            document.getElementById("img4Disp").src = URL.createObjectURL(event.target.files)
        }

        function viewImage5(event) {
            document.getElementById("img5Disp").src = URL.createObjectURL(event.target.files)
        }
    </script> --}}




</body>

</html>