<style>
    .top-information,
    .bottom-information {
        padding: 0 20px;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
        background-color: #29cc97;
        top: 14px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border: 0;
        font-weight: bold;
        box-shadow: none;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
        background-color: fec400;
    }
</style>

<script>
    jQuery(document).ready(function () {
        jQuery('#responsive-data-table').DataTable({
            "aLengthMenu": [[20, 30, 50, 75, -1], [20, 30, 50, 75, "All"]],
            "pageLength": 20,
            "dom": '<"row justify-content-between top-information"lf>rt<"row justify-content-between bottom-information"ip><"clear">'
        });
    });
</script>


<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">

    <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->




    <div class="page-wrapper">

        <div class="content-wrapper">
            <div class="card-header justify-content-between">
                <h2>All Users</h2>
                <div class="date-range-report ">
                </div>
            </div>

            <div class="content">
                <table id="usersTable" class="table dt-responsive nowrap" style="width:100%">
                    <thead>

                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Phone No.</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.firstName}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.gender}}</td>
                            <td>{{this.age}}</td>
                            <td>{{this.email}}</td>
                            {{!-- <td>
                                <label style="width: 73px;"
                                    class="switch switch-text switch-success switch-pill form-control-label">
                                    <input type="checkbox" class="switch-input form-check-input" value="on" checked="">
                                    <span class="switch-label" data-on="active" data-off="blocked"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td> --}}
                            {{#unless this.blocked}}
                            <td><button class="btn btn-danger" id="blockButton"
                                    onclick="block('{{this._id}}')">Block</button></td>
                            {{/unless}}
                            {{#if this.blocked}}
                            <td><button class="btn btn-danger" id="unblockButton"
                                    onclick="unblock('{{this._id}}')">Unblock</button></td>
                            {{/if}}
                            <td class="text-right">
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                        id="dropdown-recent-order5" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdown-recent-order5">
                                        <li class="dropdown-item">
                                            <a href="/admin/edit_user/{{this._id}}">Edit</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="/admin/delete_user/{{this._id}}"
                                                onclick="return confirm('Are you sure to delete the user?')">Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer mt-auto">
            <div class="copyright bg-white">
                <p>
                    &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                    <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
                </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
        </footer>

    </div>
</div>




<script>
    function block(userId) {
        console.log('start', userId)
        $.ajax({
            url: '/admin/block_user' + userId,
            method: 'get',
            success: (response) => {
                alert('blocked')
                
                location.reload()
            }
        })
    }

    function unblock(userId) {
        console.log('start', userId)
        $.ajax({
            url: '/admin/unblock_user' + userId,
            method: 'get',
            success: (response) => {
                alert('unblocked')
                
                location.reload()
            }
        })
    }
</script>

<script>
    $(document).ready(function () {
        $('#usersTable').DataTable();
    });
</script>