<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
        <div class="page-wrapper">
            <div class="content-wrapper">
                <div class="content">
                    <div class="card-header card-header-border-bottom">
                        <h2>EDIT OFFER</h2>
                        <p class="mb-3 mt-4">Edit the offer details of categories</p>
                    </div>
                    {{!-- <div class="card card-default">
                        <div class="card-body">
                            <p class="mb-5">Edit the offer details of the product</p>
                        </div>
                    </div> --}}

                         <table id="responsive-data-table" class="table dt-responsive nowrap mt-5" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Offer</th>
                                    <th>Starts</th>
                                    <th>Ends</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Men</td>
                                    <td>{{#if men.categoryOfferPercentage}}{{men.categoryOfferPercentage}}{{/if}}{{#unless men.categoryOfferPercentage}}---%{{/unless}}</td>
                                    <td>{{#if men.categoryOfferPercentage}}{{men.startDate}}{{/if}}{{#unless men.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>{{#if men.categoryOfferPercentage}}{{men.lastDate}}{{/if}}{{#unless men.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                {{#unless men.categoryOfferPercentage}}
                                                <a href="/admin/add_category_offer/Men"><button class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" id="menEditButton" data-placement="top" title="Edit Offer"><i
                                                        class="fa fa-edit"></i> Add
                                                </button>
                                                </a>
                                                {{/unless}}

                                                {{#if men.categoryOfferPercentage}}
                                                <button class="btn btn-primary btn-sm rounded-0" type="button" onclick="removeCategoryOffer('Men')"
                                                        data-toggle="tooltip" data-placement="top" title="Edit Offer">
                                                        <i class="fa fa-trash"></i> Remove
                                                </button>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Women</td>
                                    <td>{{#if women.categoryOfferPercentage}}{{women.categoryOfferPercentage}}{{/if}}{{#unless women.categoryOfferPercentage}}---%{{/unless}}</td>
                                    <td>{{#if women.categoryOfferPercentage}}{{women.startDate}}{{/if}}{{#unless women.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>{{#if women.categoryOfferPercentage}}{{women.lastDate}}{{/if}}{{#unless women.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                {{#unless women.categoryOfferPercentage}}
                                                <a href="/admin/add_category_offer/Women"><button class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" id="womenEditButton" data-placement="top" title="Edit Offer"><i
                                                        class="fa fa-edit"></i> Add
                                                </button>
                                                </a>
                                                {{/unless}}

                                                {{#if women.categoryOfferPercentage}}
                                                <button class="btn btn-primary btn-sm rounded-0" type="button" onclick="removeCategoryOffer('Women')"
                                                        data-toggle="tooltip" data-placement="top" title="Edit Offer">
                                                        <i class="fa fa-trash"></i> Remove
                                                </button>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Boys</td>
                                    <td>{{#if boys.categoryOfferPercentage}}{{boys.categoryOfferPercentage}}{{/if}}{{#unless boys.categoryOfferPercentage}}---%{{/unless}}</td>
                                    <td>{{#if boys.categoryOfferPercentage}}{{boys.startDate}}{{/if}}{{#unless boys.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>{{#if boys.categoryOfferPercentage}}{{boys.lastDate}}{{/if}}{{#unless boys.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                {{#unless boys.categoryOfferPercentage}}
                                                <a href="/admin/add_category_offer/Boys"><button class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" id="menEditButton" data-placement="top" title="Edit Offer"><i
                                                        class="fa fa-edit"></i> Add
                                                </button>
                                                </a>
                                                {{/unless}}

                                                {{#if boys.categoryOfferPercentage}}
                                                <button class="btn btn-primary btn-sm rounded-0" type="button" onclick="removeCategoryOffer('Boys')"
                                                        data-toggle="tooltip" data-placement="top" title="Edit Offer">
                                                        <i class="fa fa-trash"></i> Remove
                                                </button>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Girls</td>
                                    <td>{{#if girls.categoryOfferPercentage}}{{girls.categoryOfferPercentage}}{{/if}}{{#unless girls.categoryOfferPercentage}}---%{{/unless}}</td>
                                    <td>{{#if girls.categoryOfferPercentage}}{{girls.startDate}}{{/if}}{{#unless girls.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>{{#if girls.categoryOfferPercentage}}{{girls.lastDate}}{{/if}}{{#unless girls.categoryOfferPercentage}}---{{/unless}}</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                {{#unless girls.categoryOfferPercentage}}
                                                <a href="/admin/add_category_offer/Girls"><button class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" id="menEditButton" data-placement="top" title="Edit Offer"><i
                                                        class="fa fa-edit"></i> Add
                                                </button>
                                                </a>
                                                {{/unless}}

                                                {{#if girls.categoryOfferPercentage}}
                                                <button class="btn btn-primary btn-sm rounded-0" type="button" onclick="removeCategoryOffer('Girls')"
                                                        data-toggle="tooltip" data-placement="top" title="Edit Offer">
                                                        <i class="fa fa-trash"></i> Remove
                                                </button>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    {{!-- <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#menEditButton").click(function() {
                $("#menPercentage").prop("disabled", false);
            });
            $("#btn_disable").click(function() {
                $("#name").prop("disabled", true);
            });
        });

    </script> --}}

    <script>
        function removeCategoryOffer(category){
            console.log(category)
            $.ajax({
                url:'/admin/remove_category_offer/'+category,
                method:'get',
                success:(response)=>{
                    if(response){
                        alert('removed'),
                        location.reload()
                    }
                }
            })
        }
    </script>
</body>