<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">

        <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->




        <div class="page-wrapper">

            <div class="content-wrapper">
                <div class="content">
                    <!-- Top Statistics -->
                    <div class="row">
                        <div class="col-xl-3 col-sm-6">
                            <div class="card card-mini mb-4">
                                <div class="card-body">
                                    <h2 class="mb-1">{{totalOrders}}</h2>
                                    <p>Total Orders</p>
                                    <div class="chartjs-wrapper">
                                        <canvas id="barChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="card card-mini  mb-4">
                                <div class="card-body">
                                    <h2 class="mb-1">{{totalProducts}}</h2>
                                    <p>Total Products</p>
                                    <div class="chartjs-wrapper">
                                        <canvas id="dual-line"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="card card-mini mb-4">
                                <div class="card-body">
                                    <h2 class="mb-1">{{totalUsers}}</h2>
                                    <p>Total Users</p>
                                    <div class="chartjs-wrapper">
                                        <canvas id="area-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="card card-mini mb-4">
                                <div class="card-body">
                                    <h2 class="mb-1">&#8377; {{totalIncome.total}}</h2>
                                    <p>Total Revenue</p>
                                    <div class="chartjs-wrapper">
                                        <canvas id="line"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-8 col-md-12">
                            <!-- Sales Graph -->
                            <div class="card card-default" data-scroll-height="675">
                                <div class="card-header">
                                    <h2>Sales Of The Year</h2>
                                </div>
                                <div class="card-body">
                                    <canvas id="linechart" class="chartjs"></canvas>
                                </div>
                                <div class="card-footer d-flex flex-wrap bg-white p-0">
                                    <div class="col-6 px-0">
                                        <div class="text-center p-4">
                                            <h4>$6,308</h4>
                                            <p class="mt-2">Total orders of this year</p>
                                        </div>
                                    </div>
                                    <div class="col-6 px-0">
                                        <div class="text-center p-4 border-left">
                                            <h4>$70,506</h4>
                                            <p class="mt-2">Total revenue of this year</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <!-- Doughnut Chart -->
                            <div class="card card-default" data-scroll-height="675">
                                <div class="card-header justify-content-center">
                                    <h2>Orders Overview</h2>
                                </div>
                                <div class="card-body">
                                    <canvas id="pieChart"></canvas>
                                </div>
                                <a href="#" class="pb-5 d-block text-center text-muted"><i
                                        class="mdi mdi-download mr-2"></i> Download overall report</a>
                                <div class="card-footer d-flex flex-wrap bg-white p-0">
                                    <div class="col-6">
                                        <div class="py-4 px-4">
                                            <ul class="d-flex flex-column justify-content-between">
                                                <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                        style="color: #4c84ff"></i>Order Completed</li>
                                                <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                        style="color: #29cc97 "></i>Order Placed</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6 border-left">
                                        <div class="py-4 px-4 ">
                                            <ul class="d-flex flex-column justify-content-between">
                                                <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                        style="color: #eb8dee"></i>Order Pending</li>
                                                <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                        style="color: #ffa128"></i>Order Canceled</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <canvas id="newChart" width="400" height="400"></canvas>

                    {{!-- <div class="col-12">
                        <div class="card card-default pb-5">
                            <div class="card-header justify-content-center">
                                <h2 class="text-center">Bar Chart</h2>
                            </div>
                            <div class="card-body" style="height: 300px;">
                                <div class="chartjs-size-monitor"
                                    style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                        </div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                    </div>
                                </div>
                                <canvas id="bar3" style="display: block; width: 937px; height: 240px;" width="937"
                                    height="240" class="chartjs-render-monitor"></canvas>
                                <div id="customLegend" class="customLegend">
                                    <ul class="0-legend">
                                        <li><span style="background-color:rgb(76, 132, 255)"></span>Referral</li>
                                        <li><span style="background-color:rgb(254, 196, 0)"></span>Sales</li>
                                        <li><span style="background-color:rgb(41, 204, 151)"></span>Social</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> --}}


                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-12">

                            <!-- Polar and Radar Chart -->
                            <div class="card card-default">
                                <div class="card-header justify-content-center">
                                    <h2>Sales Overview</h2>
                                </div>
                                <div class="card-body pt-0">
                                    <ul class="nav nav-pills mb-5 mt-5 nav-style-fill nav-justified" id="pills-tab"
                                        role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                                href="#pills-home" role="tab" aria-controls="pills-home"
                                                aria-selected="true">Sales Status</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                                href="#pills-profile" role="tab" aria-controls="pills-profile"
                                                aria-selected="false">Monthly Sales</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                            aria-labelledby="pills-home-tab">
                                            <canvas id="polar"></canvas>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                            aria-labelledby="pills-profile-tab">
                                            <canvas id="radar"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <!-- Top Sell Table -->
                            <div class="card card-table-border-none" data-scroll-height="550">
                                <div class="card-header justify-content-between">
                                    <h2>Sold by Units</h2>
                                    <div>
                                        <button class="text-black-50 mr-2 font-size-20"><i
                                                class="mdi mdi-cached"></i></button>
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                id="dropdown-units" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdown-units">
                                                <li class="dropdown-item"><a href="#">Action</a></li>
                                                <li class="dropdown-item"><a href="#">Another action</a></li>
                                                <li class="dropdown-item"><a href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body slim-scroll py-0">
                                    <table class="table ">
                                        <tbody>
                                            <tr>
                                                <td class="text-dark">Backpack</td>
                                                <td class="text-center">9</td>
                                                <td class="text-right">33% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">T-Shirt</td>
                                                <td class="text-center">6</td>
                                                <td class="text-right">150% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">Coat</td>
                                                <td class="text-center">3</td>
                                                <td class="text-right">50% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">Necklace</td>
                                                <td class="text-center">7</td>
                                                <td class="text-right">150% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">Jeans Pant</td>
                                                <td class="text-center">10</td>
                                                <td class="text-right">300% <i
                                                        class="mdi mdi-arrow-down-bold text-danger pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">Shoes</td>
                                                <td class="text-center">5</td>
                                                <td class="text-right">100% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-dark">T-Shirt</td>
                                                <td class="text-center">6</td>
                                                <td class="text-right">150% <i
                                                        class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-footer bg-white py-4">
                                    <a href="#" class="btn-link py-3 text-uppercase">View Report</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-5">
                            <!-- New Customers -->
                            <div class="card card-table-border-none" data-scroll-height="580">
                                <div class="card-header justify-content-between ">
                                    <h2>New Customers</h2>
                                    <div>
                                        <button class="text-black-50 mr-2 font-size-20">
                                            <i class="mdi mdi-cached"></i>
                                        </button>
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                id="dropdown-customar" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static">
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdown-customar">
                                                <li class="dropdown-item"><a href="#">Action</a></li>
                                                <li class="dropdown-item"><a href="#">Another action</a></li>
                                                <li class="dropdown-item"><a href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <table class="table ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-image mr-3 rounded-circle">
                                                            <a href="profile.html"><img class="rounded-circle w-45"
                                                                    src="assets/img/user/u1.jpg"
                                                                    alt="customer image"></a>
                                                        </div>
                                                        <div class="media-body align-self-center">
                                                            <a href="profile.html">
                                                                <h6 class="mt-0 text-dark font-weight-medium">Selena
                                                                    Wagner</h6>
                                                            </a>
                                                            <small>@selena.oi</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>2 Orders</td>
                                                <td class="text-dark d-none d-md-block">$150</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-image mr-3 rounded-circle">
                                                            <a href="profile.html"><img class="rounded-circle w-45"
                                                                    src="assets/img/user/u2.jpg"
                                                                    alt="customer image"></a>
                                                        </div>
                                                        <div class="media-body align-self-center">
                                                            <a href="profile.html">
                                                                <h6 class="mt-0 text-dark font-weight-medium">Walter
                                                                    Reuter</h6>
                                                            </a>
                                                            <small>@walter.me</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>5 Orders</td>
                                                <td class="text-dark d-none d-md-block">$200</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-image mr-3 rounded-circle">
                                                            <a href="profile.html"><img class="rounded-circle w-45"
                                                                    src="assets/img/user/u3.jpg"
                                                                    alt="customer image"></a>
                                                        </div>
                                                        <div class="media-body align-self-center">
                                                            <a href="profile.html">
                                                                <h6 class="mt-0 text-dark font-weight-medium">Larissa
                                                                    Gebhardt</h6>
                                                            </a>
                                                            <small>@larissa.gb</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>1 Order</td>
                                                <td class="text-dark d-none d-md-block">$50</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-image mr-3 rounded-circle">
                                                            <a href="profile.html"><img class="rounded-circle w-45"
                                                                    src="assets/img/user/u4.jpg"
                                                                    alt="customer image"></a>
                                                        </div>
                                                        <div class="media-body align-self-center">
                                                            <a href="profile.html">
                                                                <h6 class="mt-0 text-dark font-weight-medium">Albrecht
                                                                    Straub</h6>
                                                            </a>
                                                            <small>@albrech.as</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>2 Orders</td>
                                                <td class="text-dark d-none d-md-block">$100</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-image mr-3 rounded-circle">
                                                            <a href="profile.html"><img class="rounded-circle w-45"
                                                                    src="assets/img/user/u5.jpg"
                                                                    alt="customer image"></a>
                                                        </div>
                                                        <div class="media-body align-self-center">
                                                            <a href="profile.html">
                                                                <h6 class="mt-0 text-dark font-weight-medium">Leopold
                                                                    Ebert</h6>
                                                            </a>
                                                            <small>@leopold.et</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>1 Order</td>
                                                <td class="text-dark d-none d-md-block">$60</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <!-- Top Products -->
                            <div class="card card-default" data-scroll-height="580">
                                <div class="card-header justify-content-between mb-4">
                                    <h2>Top Products</h2>
                                    <div>
                                        <button class="text-black-50 mr-2 font-size-20"><i
                                                class="mdi mdi-cached"></i></button>
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                id="dropdown-product" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static">
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdown-product">
                                                <li class="dropdown-item"><a href="#">Update Data</a></li>
                                                <li class="dropdown-item"><a href="#">Detailed Log</a></li>
                                                <li class="dropdown-item"><a href="#">Statistics</a></li>
                                                <li class="dropdown-item"><a href="#">Clear Data</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body py-0">
                                    <div class="media d-flex mb-5">
                                        <div class="media-image align-self-center mr-3 rounded">
                                            <a href="#"><img src="assets/img/products/p1.jpg" alt="customer image"></a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <a href="#">
                                                <h6 class="mb-3 text-dark font-weight-medium"> Coach Swagger</h6>
                                            </a>
                                            <p class="float-md-right"><span class="text-dark mr-2">20</span>Sales</p>
                                            <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                                adds “swagger” to a simple.</p>
                                            <p class="mb-0">
                                                <del>$300</del>
                                                <span class="text-dark ml-3">$250</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="media d-flex mb-5">
                                        <div class="media-image align-self-center mr-3 rounded">
                                            <a href="#"><img src="assets/img/products/p2.jpg" alt="customer image"></a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <a href="#">
                                                <h6 class="mb-3 text-dark font-weight-medium"> Coach Swagger</h6>
                                            </a>
                                            <p class="float-md-right"><span class="text-dark mr-2">20</span>Sales</p>
                                            <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                                adds “swagger” to a simple.</p>
                                            <p class="mb-0">
                                                <del>$300</del>
                                                <span class="text-dark ml-3">$250</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="media d-flex mb-5">
                                        <div class="media-image align-self-center mr-3 rounded">
                                            <a href="#"><img src="assets/img/products/p3.jpg" alt="customer image"></a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <a href="#">
                                                <h6 class="mb-3 text-dark font-weight-medium"> Gucci Watch</h6>
                                            </a>
                                            <p class="float-md-right"><span class="text-dark mr-2">10</span>Sales</p>
                                            <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                                adds “swagger” to a simple.</p>
                                            <p class="mb-0">
                                                <del>$300</del>
                                                <span class="text-dark ml-3">$50</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <p>
                        &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                        <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
                    </p>
                </div>
                <script>
                    var d = new Date();
                    var year = d.getFullYear();
                    document.getElementById("copy-year").innerHTML = year;
                </script>
            </footer>

        </div>
    </div>



    <script>
        var ctx = document.getElementById('newChart').getContext('2d');
        var newChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Total Orders', 'Orders Delivered', 'Orders Shipped', 'Orders Placed', 'Orders Cancelled'],
                datasets: [{
                    label: 'Total Orders',
                    data: [{{ totalOrders }}, {{ deliveredOrders }},{{ shippedOrders }}, {{ placedOrders }}, {{ cancelledOrders }}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1
                }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });
</script>
<script>
        /*======== 11. DOUGHNUT CHART ========*/
        var doughnut = document.getElementById("pieChart");
        if (doughnut !== null) {
            var myDoughnutChart = new Chart(doughnut, {
                type: "doughnut",
                data: {
                    labels: ["completed", "placed", "pending", "canceled"],
                    datasets: [
                        {
                            label: ["completed", "placed", "pending", "cancelled"],
                            data: [{{ deliveredOrders }},{{ placedOrders }},{{ pendingOrders }},{{ cancelledOrders }}],
                            backgroundColor: ["#4c84ff", "#29cc97", "#8061ef", "#fec402"],
                            borderWidth: 1
                            // borderColor: ['#4c84ff','#29cc97','#8061ef','#fec402']
                            // hoverBorderColor: ['#4c84ff', '#29cc97', '#8061ef', '#fec402']
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 75,
                    tooltips: {
                        callbacks: {
                            title: function (tooltipItem, data) {
                                return "Order : " + data["labels"][tooltipItem[0]["index"]];
                            },
                            label: function (tooltipItem, data) {
                                return data["datasets"][0]["data"][tooltipItem["index"]];
                            }
                        },
                        titleFontColor: "#888",
                        bodyFontColor: "#555",
                        titleFontSize: 12,
                        bodyFontSize: 14,
                        backgroundColor: "rgba(256,256,256,0.95)",
                        displayColors: true,
                        borderColor: "rgba(220, 220, 220, 0.9)",
                        borderWidth: 2
                    }
                }
            });
        }
    </script>