<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">

    <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->




    <div class="page-wrapper">
        <div class="content-wrapper">

            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Orders</h2>
                    <div class="date-range-report ">
                        <span>Jan 14, 2021 - Feb 12, 2021</span>
                    </div>
                </div>
                <div class="card-body pt-0 pb-5">
                    <table id="ordersTable" class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Ordered Date</th>
                                <th class="d-none d-lg-table-cell">Address</th>
                                <th class="d-none d-lg-table-cell">pin</th>
                                <th class="d-none d-lg-table-cell">Phone</th>
                                <th class="d-none d-lg-table-cell">Amount</th>
                                <th class="d-none d-lg-table-cell">Payment-method</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each deliveredOrders}}
                            <tr>
                                <td>Id</td>
                                <td>
                                    <a class="text-dark" href="">{{this.date}}</a>
                                </td>
                                <td class="d-none d-lg-table-cell">{{this.deliveryDetails.address}}</td>
                                <td class="d-none d-lg-table-cell">{{this.deliveryDetails.pincode}}</td>
                                <td class="d-none d-lg-table-cell">{{this.deliveryDetails.phone}}</td>
                                <td class="d-none d-lg-table-cell">{{this.totalAmount}}</td>
                                <td class="d-none d-lg-table-cell">{{this.paymentMethod}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" style="text-transform: uppercase;
                                            color: #ffffff; padding-top: .75em; background-color: #29cc97; display: inline-block;
                                            padding: 0.5em 1em;
                                            font-size: 75%;
                                            font-weight: 500;
                                            line-height: 1;
                                            text-align: center;
                                            white-space: nowrap;
                                            vertical-align: baseline;
                                            border-radius: 0.125rem;
                                            border-color: #29cc97;" type="button" id="statusLabel"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            {{this.status}}
                                        </button>
                                        
                                        <ul class="dropdown-menu" aria-labelledby="statusLabel">
                                            {{#ifEquals this.status "placed"}}
                                            <li><button id="confirmButton" class="dropdown-item"
                                                    onclick="confirmOrder('{{this._id}}')">Confirm</button></li>
                                            {{/ifEquals}}
                                            {{#ifEquals this.status "confirmed"}}
                                            <li><button class="dropdown-item"
                                                    onclick="shipOrder('{{this._id}}')">Ship</button></li>
                                            {{/ifEquals}}
                                            {{#ifEquals this.status "shipped"}}
                                            <li><button class="dropdown-item"
                                                    onclick="deliveredOrder('{{this._id}}')">Delivered</button></li>
                                            {{/ifEquals}}
                                            
                                            {{#ifEquals this.status "pending"}}
                                            <li><button class="dropdown-item"
                                                    onclick="cancelOrder('{{this._id}}')">Cancel</button></li>
                                            {{/ifEquals}}

                                            {{#ifEquals this.status "confirmed"}}
                                            <li><button class="dropdown-item"
                                                    onclick="cancelOrder('{{this._id}}')">Cancel</button></li>
                                            {{/ifEquals}}

                                            {{#ifEquals this.status "shipped"}}
                                            <li><button class="dropdown-item"
                                                    onclick="cancelOrder('{{this._id}}')">Cancel</button></li>
                                            {{/ifEquals}}
                                            
                                        </ul>
                                        
                                    </div>
                                </td>
                                <td>
                                    <a href="/admin/view_order_products/{{this._id}}" class="btn btn-primary">View
                                        Products</a>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown show d-inline-block widget-dropdown">
                                        <a class="dropdown-toggle icon-burger-mini" href="" role="button"
                                            id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" data-display="static"></a>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="dropdown-recent-order1">
                                            <li class="dropdown-item">
                                                <a href="#">View</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="#">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function confirmOrder(orderId) {
        console.log(orderId)
        $.ajax({
            url: '/admin/confirm_order' + orderId,
            method: 'get',
            success: (response) => {
                location.reload()                
            }
        })
    }

    function cancelOrder(orderId) {
        console.log(orderId)
        $.ajax({
            url: '/admin/cancel_order' + orderId,
            method: 'get',
            success: (response) => {
                location.reload()
            }
        })
    }

    function shipOrder(orderId) {
        console.log(orderId)
        $.ajax({
            url: '/admin/ship_order' + orderId,
            method: 'get',
            success: (response) => {
                location.reload()                
            }
        })
    }

    function deliveredOrder(orderId) {
        console.log(orderId)
        $.ajax({
            url: '/admin/delivered_order' + orderId,
            method: 'get',
            success: (response) => {
                location.reload()                
            }
        })
    }

    if('#statusLabel'=='confirmed'){
        $('#confirmButton').disable()
    }
   
</script>

<script>
    $(document).ready( function () {
    $('#ordersTable').DataTable();
    });
</script>