<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sleek - Admin Dashboard Template</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
        rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="../assets/plugins/toaster/toastr.min.css" rel="stylesheet" />
    <link href="../assets/plugins/nprogress/nprogress.css" rel="stylesheet" />
    <link href="../assets/plugins/flag-icons/css/flag-icon.min.css" rel="stylesheet" />
    <link href="../assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="../assets/plugins/ladda/ladda.min.css" rel="stylesheet" />
    <link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="../assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- SLEEK CSS -->
    <link id="sleek-css" rel="stylesheet" href="../assets/css/sleek.css" />



    <!-- FAVICON -->
    <link href="../assets/img/favicon.png" rel="shortcut icon" />

    <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <script src="../assets/plugins/nprogress/nprogress.js"></script>

    <!-- vendroid assets starts -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="../vendroid/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="../vendroid/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="../vendroid/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../vendroid/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../vendroid/img/ico/favicon.png">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="../vendroid/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="../vendroid/css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="../vendroid/css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendroid/plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="../vendroid/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="../vendroid/plugins/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
    <link href="../plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../vendroid/css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="../vendroid/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="../vendroid/css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->
    <style>
        .form-wizard .nav>li>a {
            padding: 10px;
            margin-right: 0;
            text-align: left;
            color: #888888;
        }

        .tab-right {
            margin-left: -30px;
            margin-top: -1px;
        }

        .tab-right .panel {
            margin-right: -30px;
        }

        .tab-right .vd_panel-menu {
            right: 28px;
            top: -15px;
        }

        .tab-right h3 {
            border-bottom: 1px solid #EEEEEE;
        }

        table .vd_radio label:after {
            top: 0;
        }
    </style>

    <!-- for specific page responsive in style css -->
    <style>
        @media (max-width: 767px) {
            .tab-right {
                margin-left: 0;
                margin-top: 0;
            }

            .tab-right .panel {
                margin-right: 0;
            }

        }
    </style>


    <!-- Custom CSS -->
    <link href="vendroid/custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script
        src="http://www.venmond.com/demo/vendroid/js/modernizr.js?cb=1612418123907&amp;fingerprint=c2VwLW5vLXJlZGlyZWN0&amp;onIframeFlag"></script>
    <script
        data-dapp-detection="">!function () { let e = !1; function n() { if (!e) { const n = document.createElement("meta"); n.name = "dapp-detected", document.head.appendChild(n), e = !0 } } if (window.hasOwnProperty("ethereum")) { if (window.__disableDappDetectionInsertion = !0, void 0 === window.ethereum) return; n() } else { var t = window.ethereum; Object.defineProperty(window, "ethereum", { configurable: !0, enumerable: !1, set: function (e) { window.__disableDappDetectionInsertion || n(), t = e }, get: function () { if (!window.__disableDappDetectionInsertion) { const e = arguments.callee; e && e.caller && e.caller.toString && -1 !== e.caller.toString().indexOf("getOwnPropertyNames") || n() } return t } }) } }();</script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>     
    <![endif]-->

    <style>
        .cke {
            visibility: hidden;
        }
    </style>
    <!-- vendroid assets ends -->


</head>


<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <!-- vendroid imported -->

    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_title-section clearfix">
                <div class="vd_panel-header">
                    <h1>Edit User</h1>
                    <small class="subtitle">Edit User</small>
                    <div class="vd_panel-menu hidden-xs">
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-search"></i></span>Preview
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-copy"></i></span>Duplicate
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-money"></i></span>Product Sales
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-trash-o"></i></span>Delete
                            </div>
                        </div>
                        <div class="menu">
                            <div>
                                <span class="menu-icon mgr-10"><i class="fa fa-support"></i></span>Help
                            </div>
                        </div>
                    </div>
                    <div class="vd_panel-menu visible-xs">
                        <div class="menu">
                            <div data-action="click-trigger">
                                <span class="menu-icon mgr-10"><i class="fa fa-bars"></i></span>Menu <i
                                    class="fa fa-angle-down"></i>
                            </div>
                            <div data-action="click-target" class="vd_mega-menu-content width-xs-2 left-xs"
                                style="display: none">
                                <div class="child-menu">
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper pd-lr-10">
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                    <div class="menu-text">Preview</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon">
                                                        <i class="fa fa-copy"></i>
                                                    </div>
                                                    <div class="menu-text">Duplicate</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <div class="menu-text">Product Sales</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon">
                                                        <i class="fa fa-trash-o"></i>
                                                    </div>
                                                    <div class="menu-text">Delete</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon">
                                                        <i class="fa fa-support"></i>
                                                    </div>
                                                    <div class="menu-text">Help</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- menu -->
                    </div>
                </div>
            </div>

            <div class="vd_content-section clearfix" id="ecommerce-product-add">
                <div class="row">
                    <div class="col-sm-12 tab-right">
                        <div class="panel widget panel-bd-left light-widget">
                            <div class="panel-heading no-title"></div>

                            <div class="panel-body">
                                <div class="tab-content no-bd mgbt-xs-20">
                                    <div id="tabinfo" class="tab-pane active">
                                        <form class="form-horizontal" action="/admin/edit_user/{{user._id}}" method="POST">

                                            <h3 class="mgtp-15 mgbt-xs-20">
                                                User Details
                                            </h3>

                                            <div class="form-group">
                                                <label for="name_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="The public name for this product. Invalid characters &lt;&gt;;=#{}">
                                                        First Name
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" required value="{{user.firstName}}"
                                                        name="firstName" class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Last Name
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" required value="{{user.lastName}}"
                                                        name="lastName" class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Phone No.
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="number" required value="{{user.phone}}" name="phone"
                                                        class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>

                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="email" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the product list(s), and at the top of the product page.">
                                                        email
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <div class="col-lg-3">
                                                        <input type="email" required value="{{user.email}}" name="email"
                                                            class="updateCurrentText" id="code_1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="gender" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the body of product detail.">
                                                        Gender
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <div class="col-lg-3">
                                                        <input type="text" required value="{{user.gender}}"
                                                            name="gender" class="updateCurrentText" id="code_1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="age" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the body of product detail.">
                                                        Age
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <div class="col-lg-3">
                                                        <input type="number" required value="{{user.age}}" name="age"
                                                            class="updateCurrentText" id="code_1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div>
                                                <input type="submit"
                                                    class="btn vd_btn vd_bg-blue btn-sm save-btn text-center m-5"
                                                    value="Update">
                                            </div>

                                        </form>
                                    </div>


                                </div>
                                <!-- #tabinfo -->
                            </div>
                            <!-- tab-content -->
                        </div>
                        <!-- panel-body -->
                        <!-- form-horizontal -->
                    </div>
                    <!-- Panel Widget -->
                </div>
                <!-- col-sm-12-->
            </div>
            <!-- row -->
        </div>
        <!-- .vd_content-section -->
    </div>
    <!-- .vd_content -->
    </div>
    <!-- .vd_container -->

    <!-- vendroid imported ends -->


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/plugins/toaster/toastr.min.js"></script>
    <script src="../assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
    <script src="../assets/plugins/charts/Chart.min.js"></script>
    <script src="../assets/plugins/ladda/spin.min.js"></script>
    <script src="../assets/plugins/ladda/ladda.min.js"></script>
    <script src="../assets/plugins/jquery-mask-input/jquery.mask.min.js"></script>
    <script src="../assets/plugins/select2/js/select2.min.js"></script>
    <script src="../assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script src="../assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="../assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="../assets/plugins/jekyll-search.min.js"></script>
    <script src="../assets/js/sleek.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/date-range.js"></script>
    <script src="../assets/js/map.js"></script>
    <script src="../assets/js/custom.js"></script>




</body>

</html>