

    <!-- Fonts CSS -->
    <link href="../vendroid/css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendroid/plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="../vendroid/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="../vendroid/plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="../vendroid/plugins/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
    <link href="../plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../../vendroid/css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="../../vendroid/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->

<!-- Theme CSS -->
<link href="./vendroid/css/theme.min.css" rel="stylesheet" type="text/css">
<!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
<link href="./vendroid/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->

    <!-- Responsive CSS -->
    <link href="../vendroid/css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->
    <style>
        .form-wizard .nav>li>a {
            padding: 10px;
            margin-right: 0;
            text-align: left;
            color: #888888;
        }

        .tab-right {
            margin-left: -30px;
            margin-top: -1px;
        }

        .tab-right .panel {
            margin-right: -30px;
        }

        .tab-right .vd_panel-menu {
            right: 28px;
            top: -15px;
        }

        .tab-right h3 {
            border-bottom: 1px solid #EEEEEE;
        }

        table .vd_radio label:after {
            top: 0;
        }

        .cropper-container {
  margin: 0 auto 20px auto;
}
    </style>

    <!-- for specific page responsive in style css -->
    <style>
        @media (max-width: 767px) {
            .tab-right {
                margin-left: 0;
                margin-top: 0;
            }

            .tab-right .panel {
                margin-right: 0;
            }

        }
    </style>


    <!-- Custom CSS -->
    <link href="vendroid/custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script
        src="http://www.venmond.com/demo/vendroid/js/modernizr.js?cb=1612418123907&amp;fingerprint=c2VwLW5vLXJlZGlyZWN0&amp;onIframeFlag"></script>
    <script
        data-dapp-detection="">!function () { let e = !1; function n() { if (!e) { const n = document.createElement("meta"); n.name = "dapp-detected", document.head.appendChild(n), e = !0 } } if (window.hasOwnProperty("ethereum")) { if (window.__disableDappDetectionInsertion = !0, void 0 === window.ethereum) return; n() } else { var t = window.ethereum; Object.defineProperty(window, "ethereum", { configurable: !0, enumerable: !1, set: function (e) { window.__disableDappDetectionInsertion || n(), t = e }, get: function () { if (!window.__disableDappDetectionInsertion) { const e = arguments.callee; e && e.caller && e.caller.toString && -1 !== e.caller.toString().indexOf("getOwnPropertyNames") || n() } return t } }) } }();</script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>     
    <![endif]-->

    <style>
        .cke {
            visibility: hidden;
        }
    </style>
    <!-- vendroid assets ends -->
{{!-- 
</head> --}}

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>
<!--847-->

    <!---8jfkjsfk--->

    <!-- vendroid imported -->


    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_title-section clearfix">
                <div class="vd_panel-header">
                    <h1>Edit Product</h1>
                    
                </div>
            </div>

            <div class="vd_content-section clearfix" id="ecommerce-product-add">
                <div class="row">
                    <div class="col-sm-12 tab-right">
                        <div class="panel widget panel-bd-left light-widget">
                            <div class="panel-heading no-title"></div>

                            <div class="panel-body">
                                <div class="tab-content no-bd mgbt-xs-20">
                                    <div id="tabinfo" class="tab-pane active">
                                        <form class="form-horizontal" action="/admin/edit_product/{{product._id}}" method="POST"
                                            enctype="multipart/form-data">

                                            <h3 class="mgtp-15 mgbt-xs-20">
                                                Product Information
                                            </h3>

                                            <div class="form-group">
                                                <label for="name_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="The public name for this product. Invalid characters &lt;&gt;;=#{}">
                                                        Product Name
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" required value="{{product.name}}" name="name"
                                                        class="updateCurrentText" id="code_1" />
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label class="control-label col-lg-3"><span data-toggle="tooltip"
                                                        class="label-tooltip" data-original-title="Product type">
                                                        For
                                                    </span></label>
                                                <div class="col-lg-9">
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" checked="" value="Men" name="for"
                                                            id="simple_product" />
                                                        <label for="simple_product">Men</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Women" name="for"
                                                            id="pack_product" />
                                                        <label for="pack_product">Women</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Boys" name="for"
                                                            id="virtual_product" />
                                                        <label for="virtual_product">Boys</label>
                                                    </div>
                                                    <div class="vd_radio radio-success">
                                                        <input type="radio" value="Girls" name="for"
                                                            id="virtual_product" />
                                                        <label for="virtual_product">Girls</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Category
                                                    </span>
                                                </label>
                                                <div class="col-lg-5">
                                                    <div class="row mgbt-xs-0">

                                                        <div class="col-sm-4">

                                                            <select id="category" name="category">
                                                                <option value="">{{product.category}}</option>
                                                                {{#each menCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each womenCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each boysCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                                {{#each girlsCategory}}
                                                                <option value="{{this.category}}">{{this.category}}
                                                                </option>
                                                                {{/each}}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Price
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="number" required value="{{product.price}}" name="price"
                                                         class="updateCurrentText"
                                                        id="code_1" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="code_1" class="control-label col-lg-3 required">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Product reference number (SKU-10423, etc.)">
                                                        Stock
                                                    </span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="number" required name="stock"
                                                        value="{{product.stock}}" class="updateCurrentText"
                                                        id="code_1" />
                                                </div>
                                            </div>

                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="description_short_1" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the product list(s), and at the top of the product page.">
                                                        Short description
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <textarea name="shortDescription" id="description_short_1"
                                                        value="" data-rel="ckeditor"
                                                        rows="1">{{product.shortDescription}}</textarea>
                                                </div>
                                            </div>
                                            <!-- form-group -->

                                            <div class="form-group">
                                                <label for="description_1" class="control-label col-lg-3">
                                                    <span title="" data-toggle="tooltip" class="label-tooltip"
                                                        data-original-title="Appears in the body of product detail.">
                                                        Description
                                                    </span>
                                                </label>
                                                <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                                                    <textarea name="description" id="description_1" data-rel="ckeditor"
                                                        value="" rows="1">{{product.description}}</textarea>
                                                </div>
                                            </div>
                                            <!-- form-group -->


                                            <div id="tabimage" class="tab-pane">
                                                <h3 class="mgtp-15 mgbt-xs-20">Images</h3>


                                                <div class="form-group">
                                                    <label class="control-label col-lg-3 file_upload_label">
                                                        <span title="" data-toggle="tooltip" class="label-tooltip"
                                                            data-original-title="Format JPG, GIF, PNG. Filesize 8.00 MB max.">
                                                            Add 5 images to this product
                                                        </span>
                                                    </label>
                                                </div>


                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image1"
                                                                id="fileupload" class="js-photo-upload" onchange="viewImage1(event)">
                                                                
                                                        </span>
                                                        </div>

                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img1-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="/images/product-images/{{product._id}}1.jpg" style="width: 60px;"
                                                                        alt="product image" id="img1Disp" />


                                                        

                                                        <textarea name="imageBase64Data" id="imageBase64Data" cols="30" rows="10" hidden></textarea>

                                                        </div>


                                                    </div>



                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image2"
                                                                id="fileupload" class="js-photo-upload2" onchange="viewImage2(event)">
                                                                
                                                        </span>
                                                        </div>

                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img2-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="/images/product-images/{{product._id}}2.jpg" style="width: 60px;"
                                                                        alt="product image" id="img2Disp" />


                                                        

                                                        <textarea name="image1Base64Data" id="image1Base64Data" cols="30" rows="10" hidden></textarea>

                                                        </div>


                                                    </div>


                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image3"
                                                                id="fileupload" class="js-photo-upload3" onchange="viewImage3(event)">
                                                                
                                                        </span>
                                                        </div>

                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img3-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="/images/product-images/{{product._id}}3.jpg" style="width: 60px;"
                                                                        alt="product image" id="img3Disp" />


                                                        

                                                        <textarea name="image2Base64Data" id="image2Base64Data" cols="30" rows="10" hidden></textarea>

                                                        </div>


                                                    </div>


                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image4"
                                                                id="fileupload" class="js-photo-upload4" onchange="viewImage4(event)">
                                                                
                                                        </span>
                                                        </div>

                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img4-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="/images/product-images/{{product._id}}4.jpg" style="width: 60px;"
                                                                        alt="product image" id="img4Disp" />


                                                        

                                                        <textarea name="image3Base64Data" id="image3Base64Data" cols="30" rows="10" hidden></textarea>

                                                        </div>


                                                    </div>


                                                    <div class="row mt-5">
                                                        <div class="col-md-5">
                                                        <span class="btn vd_btn vd_bg-green fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <!-- The file input field used as target for the file upload widget -->
                                                            <input type="file" accept="image/*" name="image5"
                                                                id="fileupload" class="js-photo-upload5" onchange="viewImage5(event)">
                                                                
                                                        </span>
                                                        </div>

                                                        <div class="modal fade remove-modal" tabindex="-1" role="dialog" id="cropperModal">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <div class="modal-positioner">
                                                                        <h1>Crop Photo</h1>
                                                                        <hr>
                                                                        <img style="width: 271px; height: 271px;" class="js-avatar-preview" src="">
                                                                        <button class="btn btn-primary js-save-cropped-avatar">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <br />
                                                        <br />
                                                        

                                                        <h6 id="not-img5-error" style="color: rgb(163, 24, 24);display: none;">!! Please upload a image !!</h6>

                                                        <div class="col-md-3">

                                                        <img src="/images/product-images/{{product._id}}5.jpg" style="width: 60px;"
                                                                        alt="product image" id="img5Disp" />


                                                        

                                                        <textarea name="image4Base64Data" id="image4Base64Data" cols="30" rows="10" hidden></textarea>

                                                        </div>


                                                    </div>
                                                {{!-- <div class="form-group">
                                                    <label class="control-label col-lg-3">
                                                        <span title="" data-toggle="tooltip" class="label-tooltip"
                                                            data-original-title="Invalid characters &lt;&gt;;=#{}">
                                                            Caption
                                                        </span>
                                                    </label>
                                                    <div class="col-lg-9">
                                                        <div class="translatable-field row lang-1">
                                                            <div class="col-lg-6">
                                                                <input type="text" value="Faded Short Sleeve T-shirts"
                                                                    name="legend_1" id="legend_1" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> --}}


                                                <div class="text-center">
                                                    <input type="submit"
                                                        class="btn vd_btn vd_bg-blue btn-sm save-btn text-center m-5"
                                                        value="Update">
                                                </div>

                                        </form>
                                    </div>
                                </div>
                                <!-- tab-pane -->
                            </div>
                            <!-- tab-content -->
                        </div>
                        <!-- panel-body -->
                        <!-- form-horizontal -->
                    </div>
                    <!-- Panel Widget -->
                </div>
                <!-- col-sm-12-->
            </div>
            <!-- row -->
        </div>
        <!-- .vd_content-section -->
    </div>
    <!-- .vd_content -->
    </div>
    <!-- .vd_container -->

    <!-- vendroid imported ends -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/plugins/toaster/toastr.min.js"></script>
    <script src="../assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
    <script src="../assets/plugins/charts/Chart.min.js"></script>
    <script src="../assets/plugins/ladda/spin.min.js"></script>
    <script src="../assets/plugins/ladda/ladda.min.js"></script>
    <script src="../assets/plugins/jquery-mask-input/jquery.mask.min.js"></script>
    <script src="../assets/plugins/select2/js/select2.min.js"></script>
    <script src="../assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script src="../assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="../assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="../assets/plugins/jekyll-search.min.js"></script>
    <script src="../assets/js/sleek.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/date-range.js"></script>
    <script src="../assets/js/map.js"></script>
    <script src="../assets/js/custom.js"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery('#responsive-data-table').DataTable({
                "aLengthMenu": [[20, 30, 50, 75, -1], [20, 30, 50, 75, "All"]],
                "pageLength": 20,
                "dom": '<"row justify-content-between top-information"lf>rt<"row justify-content-between bottom-information"ip><"clear">'
            });
        });
    </script>

    <script>
        function viewImage(event){
            document.getElementById('editImg').src=URL.createObjectURL(event.target.files[0])
        }
    </script>

    <script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload');

$jsPhotoUploadInput.on('change', function() {
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    {{!-- $button.text('uploading...');
    $button.prop('disabled', true); --}}

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    console.log(base64encodedImage)
    $('#img1Disp').attr('src', base64encodedImage);
    $("#image1Base64Data").val(base64encodedImage);
    $(cropperModalId).modal('hide');
    
});
</script>

<script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload2');

$jsPhotoUploadInput.on('change', function() {
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview2')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    {{!-- $button.text('uploading...');
    $button.prop('disabled', true); --}}

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    console.log(base64encodedImage)
    $('#img2Disp').attr('src', base64encodedImage);
    $("#image2Base64Data").val(base64encodedImage);
    $(cropperModalId).modal('hide');
    
});
</script>

    <script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload3');

$jsPhotoUploadInput.on('change', function() {
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    {{!-- $button.text('uploading...');
    $button.prop('disabled', true); --}}

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    console.log(base64encodedImage)
    $('#img3Disp').attr('src', base64encodedImage);
    $("#image3Base64Data").val(base64encodedImage);
    $(cropperModalId).modal('hide');
    
});
</script>

    <script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload4');

$jsPhotoUploadInput.on('change', function() {
    console.log('what is')
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    {{!-- $button.text('uploading...');
    $button.prop('disabled', true); --}}

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    console.log(base64encodedImage)
    $('#img4Disp').attr('src', base64encodedImage);
    $("#image4Base64Data").val(base64encodedImage);
    $(cropperModalId).modal('hide');
    
});
</script>

<script>
let cropper;
let cropperModalId = '#cropperModal';
let $jsPhotoUploadInput = $('.js-photo-upload5');

$jsPhotoUploadInput.on('change', function() {
    var files = this.files;
    if (files.length > 0) {
        var photo = files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
            var image = $('.js-avatar-preview')[0];
            image.src = event.target.result;

            cropper = new Cropper(image, {
                viewMode: 1,
                aspectRatio: 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                minCropBoxWidth: 271,
                minCropBoxHeight: 271,
                movable: true,
                ready: function () {
                    console.log('ready');
                    console.log(cropper.ready);
                }
            });

            $(cropperModalId).modal();
        };
        reader.readAsDataURL(photo);
    }
});

$('.js-save-cropped-avatar').on('click', function(event) {
    event.preventDefault();

    console.log(cropper.ready);

    var $button = $(this);
    {{!-- $button.text('uploading...');
    $button.prop('disabled', true); --}}

    const canvas = cropper.getCroppedCanvas();
    const base64encodedImage = canvas.toDataURL();
    console.log(base64encodedImage)
    $('#img5Disp').attr('src', base64encodedImage);
    $("#image5Base64Data").val(base64encodedImage);
    $(cropperModalId).modal('hide');
    
});
</script>

<script>
        function viewImage1(event) {
        document.getElementById('img1Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img1-error').hide()
            $('#img1Disp').show()
        } else {
            $('#not-img1-error').show()
            $('#add-product-button').hide()
            $('#img1Disp').hide()
        }
    }
</script>

<script>
        function viewImage2(event) {
        document.getElementById('img2Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img2-error').hide()
            $('#img2Disp').show()
        } else {
            $('#not-img2-error').show()
            $('#add-product-button').hide()
            $('#img2Disp').hide()
        }
    }
</script>

<script>
        function viewImage3(event) {
        document.getElementById('img3Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img3-error').hide()
            $('#img3Disp').show()
        } else {
            $('#not-img3-error').show()
            $('#add-product-button').hide()
            $('#img3Disp').hide()
        }
    }
</script>

<script>
        function viewImage4(event) {
        document.getElementById('img4Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img4-error').hide()
            $('#img4Disp').show()
        } else {
            $('#not-img4-error').show()
            $('#add-product-button').hide()
            $('#img4Disp').hide()
        }
    }
</script>

<script>
        function viewImage5(event) {
        document.getElementById('img5Disp').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            $('#add-product-button').show()
            $('#not-img5-error').hide()
            $('#img5Disp').show()
        } else {
            $('#not-img5-error').show()
            $('#add-product-button').hide()
            $('#img5Disp').hide()
        }
    }
</script>

</body>