<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
        <div class="page-wrapper">
            <div class="content-wrapper">
                <div class="content">
                    <table id="responsive-data-table" class="table dt-responsive nowrap" style="width:100%">
                        <thead>

                            <tr>
                                <th>Product Name</th>
                                <th>For</th>
                                <th>Category</th>
                                <th>Actual Price</th>
                                <th>Offer Price</th>
                                <th>Options</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.for}}</td>
                                <td>{{this.category}}</td>
                                <td>{{#if actualPrice}}{{this.actualPrice}}{{else}}{{this.price}}{{/if}}</td>
                                <td>{{#if actualPrice}}{{this.price}}{{else}}---{{/if}}</td>
                                <td>
                                    <ul class="list-inline m-0">
                                        {{#unless this.actualPrice}}
                                        <li class="list-inline-item">
                                            <a href="/admin/add_product_offer/{{this._id}}"><button class="btn btn-primary btn-sm rounded-0"
                                                 type="button" data-toggle="tooltip"
                                                data-placement="top" title="Add Offer"> <i class="fa fa-plus"></i> Add Offer</button></a>
                                        </li>
                                        {{/unless}}
                                        {{#if this.actualPrice}}
                                        <li class="list-inline-item">
                                            {{!-- <button class="btn btn-success btn-sm rounded-0" type="button" id=""
                                                onclick="editOffer('{{this._id}}')" data-toggle="tooltip" data-placement="top" title="Edit Offer"><i
                                                    class="fa fa-edit"></i></button> --}}

                                            <a href="/admin/edit_product_offer/{{this._id}}"><button class="btn btn-primary btn-sm rounded-0"
                                                 type="button" data-toggle="tooltip"
                                                data-placement="top" title="Edit Offer"> <i class="fa fa-edit"></i></button>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <button class="btn btn-danger btn-sm rounded-0" type="submit" id="removeButton"
                                                data-toggle="tooltip" onclick="if(confirm('Are you sure to remove this offer?')) removeOffer('{{this._id}}')" data-placement="top" title="Delete Offer"><i
                                                    class="fa fa-trash"></i></button>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    
                        

                        <div class="row">
                            <div class="col-12">
                                <!-- Recent Order Table -->
                                <div class="card card-table-border-none" id="recent-orders">
                                    <div class="card-header justify-content-between">
                                        <h2>Recent Orders</h2>
                                        <div class="date-range-report ">
                                            <span>Jan 19, 2021 - Feb 17, 2021</span>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 pb-5">
                                        <table class="table card-table table-responsive table-responsive-large"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Product Name</th>
                                                    <th class="d-none d-md-table-cell">Units</th>
                                                    <th class="d-none d-md-table-cell">Order Date</th>
                                                    <th class="d-none d-md-table-cell">Order Cost</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>24541</td>
                                                    <td>
                                                        <a class="text-dark" href=""> Coach Swagger</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">1 Unit</td>
                                                    <td class="d-none d-md-table-cell">Oct 20, 2018</td>
                                                    <td class="d-none d-md-table-cell">$230</td>
                                                    <td>
                                                        <span class="badge badge-success">Completed</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="dropdown show d-inline-block widget-dropdown">
                                                            <a class="dropdown-toggle icon-burger-mini" href=""
                                                                role="button" id="dropdown-recent-order1"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false" data-display="static"></a>
                                                            <ul class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dropdown-recent-order1">
                                                                <li class="dropdown-item">
                                                                    <a href="#">View</a>
                                                                </li>
                                                                <li class="dropdown-item">
                                                                    <a href="#">Remove</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>24541</td>
                                                    <td>
                                                        <a class="text-dark" href=""> Toddler Shoes, Gucci Watch</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">2 Units</td>
                                                    <td class="d-none d-md-table-cell">Nov 15, 2018</td>
                                                    <td class="d-none d-md-table-cell">$550</td>
                                                    <td>
                                                        <span class="badge badge-warning">Delayed</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="dropdown d-inline-block widget-dropdown">
                                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                                role="button" id="dropdown-recent-order2"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false" data-display="static"></a>
                                                            <ul class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dropdown-recent-order2">
                                                                <li class="dropdown-item">
                                                                    <a href="#">View</a>
                                                                </li>
                                                                <li class="dropdown-item">
                                                                    <a href="#">Remove</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>24541</td>
                                                    <td>
                                                        <a class="text-dark" href=""> Hat Black Suits</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">1 Unit</td>
                                                    <td class="d-none d-md-table-cell">Nov 18, 2018</td>
                                                    <td class="d-none d-md-table-cell">$325</td>
                                                    <td>
                                                        <span class="badge badge-warning">On Hold</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="dropdown show d-inline-block widget-dropdown">
                                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                                role="button" id="dropdown-recent-order3"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false" data-display="static"></a>
                                                            <ul class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dropdown-recent-order3">
                                                                <li class="dropdown-item">
                                                                    <a href="#">View</a>
                                                                </li>
                                                                <li class="dropdown-item">
                                                                    <a href="#">Remove</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>24541</td>
                                                    <td>
                                                        <a class="text-dark" href=""> Backpack Gents, Swimming Cap
                                                            Slin</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">5 Units</td>
                                                    <td class="d-none d-md-table-cell">Dec 13, 2018</td>
                                                    <td class="d-none d-md-table-cell">$200</td>
                                                    <td>
                                                        <span class="badge badge-success">Completed</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="dropdown show d-inline-block widget-dropdown">
                                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                                role="button" id="dropdown-recent-order4"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false" data-display="static"></a>
                                                            <ul class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dropdown-recent-order4">
                                                                <li class="dropdown-item">
                                                                    <a href="#">View</a>
                                                                </li>
                                                                <li class="dropdown-item">
                                                                    <a href="#">Remove</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>24541</td>
                                                    <td>
                                                        <a class="text-dark" href=""> Speed 500 Ignite</a>
                                                    </td>
                                                    <td class="d-none d-md-table-cell">1 Unit</td>
                                                    <td class="d-none d-md-table-cell">Dec 23, 2018</td>
                                                    <td class="d-none d-md-table-cell">$150</td>
                                                    <td>
                                                        <span class="badge badge-danger">Cancelled</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="dropdown show d-inline-block widget-dropdown">
                                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                                role="button" id="dropdown-recent-order5"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false" data-display="static"></a>
                                                            <ul class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dropdown-recent-order5">
                                                                <li class="dropdown-item">
                                                                    <a href="#">View</a>
                                                                </li>
                                                                <li class="dropdown-item">
                                                                    <a href="#">Remove</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>

            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

    <script>
        function addOffer(proId){
            console.log('arrived in ajax')
            $.ajax({
                url:'/add_offer',
                data:{
                    product:proId
                },
                method:'post',
                success:(response)=>{
                                 
                }
            })
        }

        function removeOffer(proId){
            console.log('remove vannu')
            $.ajax({
                url:'/admin/remove_product_offer',
                data:{
                    proId:proId
                },
                method:'post',
                success:(response)=>{
                    if(response){
                        alert('Offer removed')
                        location.reload()
                    }
                 }
            })
        }

        function editOffer(proId){
            console.log('edit vanne')
            $.ajax({
                url:'/admin/edit_product_offer',
                data:{
                    proId:proId
                },
                method:'post'
                
            })
        }
    </script>
</body>