<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
        <div class="page-wrapper">
            <div class="content-wrapper">
                <div class="content">
                    <div class="card-header card-header-border-bottom mb-5">
                        <h2>ALL PRODUCT OFFERS</h2>
                    </div>

                    <table id="responsive-data-table" class="table dt-responsive nowrap" style="width:100%">
                        <thead>

                            <tr>
                                <th>Product Name</th>
                                <th>For</th>
                                <th>Category</th>
                                <th>Actual Price</th>
                                <th>Offer Price</th>
                                <th>Options</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.for}}</td>
                                <td>{{this.category}}</td>
                                <td>{{#if actualPrice}}{{this.actualPrice}}{{else}}{{this.price}}{{/if}}</td>
                                <td>{{#if actualPrice}}{{this.price}}{{else}}---{{/if}}</td>
                                <td>
                                    <ul class="list-inline m-0">
                                        {{#unless this.actualPrice}}
                                        <li class="list-inline-item">
                                            <a href="/admin/add_product_offer/{{this._id}}"><button
                                                    class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="Add Offer"> <i
                                                        class="fa fa-plus"></i> Add Offer</button></a>
                                        </li>
                                        {{/unless}}
                                        {{#if this.actualPrice}}
                                        <li class="list-inline-item">
                                            {{!-- <button class="btn btn-success btn-sm rounded-0" type="button" id=""
                                                onclick="editOffer('{{this._id}}')" data-toggle="tooltip"
                                                data-placement="top" title="Edit Offer"><i
                                                    class="fa fa-edit"></i></button> --}}

                                            <a href="/admin/edit_product_offer/{{this._id}}"><button
                                                    class="btn btn-primary btn-sm rounded-0" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="Edit Offer"> <i
                                                        class="fa fa-edit"></i></button>
                                            </a>
                                        </li>

                                        <li class="list-inline-item">
                                            <button class="btn btn-danger btn-sm rounded-0" type="submit"
                                                id="removeButton" data-toggle="tooltip"
                                                onclick="if(confirm('Are you sure to remove this offer?')) removeOffer('{{this._id}}')"
                                                data-placement="top" title="Delete Offer"><i
                                                    class="fa fa-trash"></i></button>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

    <script>
        function addOffer(proId) {
            console.log('arrived in ajax')
            $.ajax({
                url: '/add_offer',
                data: {
                    product: proId
                },
                method: 'post',
                success: (response) => {

                }
            })
        }

        function removeOffer(proId) {
            console.log('remove vannu')
            $.ajax({
                url: '/admin/remove_product_offer',
                data: {
                    proId: proId
                },
                method: 'post',
                success: (response) => {
                    if (response) {
                        alert('Offer removed')
                        location.reload()
                    }
                }
            })
        }

        function editOffer(proId) {
            console.log('edit vanne')
            $.ajax({
                url: '/admin/edit_product_offer',
                data: {
                    proId: proId
                },
                method: 'post'
            })
        }
    </script>
</body>