<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">
    <div class="page-wrapper">
        <div class="content-wrapper">
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="date" class="mb-3 form-control" id="firstDate" name="first"
                                onchange="handler(event)">
                        </div>
                        <p>to</p>
                        <div class="col-sm-3">
                            <input type="date" id="lastDate" class="mb-3 form-control" name="last">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" type="submit" id="dateSubmit">Submit</button>
                        </div>
                    </div>

                </form>
                <table class="table" id="reportTable">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Payment-method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {{#each currentMonthReport}}
                        <tr id="defaultData">
                            <td scope="col">#</td>
                            <td scope="col">{{this.deliveryDetails.firstName}}</td>
                            <td scope="col">{{this.date}}</td>
                            <td scope="col">{{this.paymentMethod}}</td>
                            <td scope="col">{{this.status}}</td>
                            <td scope="col">{{this.totalAmount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#dateSubmit').click(function (e) {
        console.log('clicked')
        e.preventDefault()
        let firstDate = $('#firstDate').val()
        var lastDate = $('#lastDate').val()
        $('#reportTable').val('')
        $.ajax({
            method: 'post',
            url: '/admin/sales_report',
            data: {
                firstDate,
                lastDate
            },
            success: (response) => {
                console.log('kittiyeaa..', response)

                $("#defaultData").find("tr:gt(0)").remove();

                $(function () {
                    $(function () {
                        $.each(response, function (i, item) {
                            $('<tr>').append(
                                $('<td>').text(i + 1),
                                $('<td>').text(item.deliveryDetails.firstName),
                                $('<td>').text(item.date),
                                $('<td>').text(item.paymentMethod),
                                $('<td>').text(item.status),
                                $('<td>').text("Rs." + item.totalAmount)).appendTo('#reportTable');
                        });
                    });
                });
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        $('#reportTable').DataTable();
    });
</script>

{{!-- <script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;

        $('#firstDate').attr('min', maxDate);
        $('#lastDate').attr('min', maxDate);
    });
</script> --}}

<script>
    function handler(e) {
        var first = e.target.value
        console.log('vanne', first)
        document.getElementById("lastDate").min = first
    }
</script>