<style>
    .n {
        font-size: 1.3rem;
    }
</style>

<div class="bg-white border rounded">

    <div class="">
        <div class="profile-content-left pt-5 pb-3 px-3 px-xl-5 mt-5 mb-3">
            <div class="card text-center widget-profile px-0 border-0">
                <div class="card-img mx-auto rounded-circle">
                    <img src="assets/img/user/u6.jpg" alt="user image">
                </div>
                <div class="card-body">
                    <h4 style="font-size: 2rem;" class="py-2 text-dark">{{userData.firstName}} {{userData.lastName}}
                    </h4>
                    <p style="font-size: 1.5rem;">{{userData.email}}</p>
                    <a class="btn btn-primary btn-pill btn-lg my-4" href="#">Change photo</a>
                </div>
            </div>

            {{!--
            <hr class="w-100">
            <div class="contact-info pt-4">
                <h5 class="text-dark mb-1">Contact Information</h5>
                <p class="text-dark font-weight-medium pt-4 mb-2">Email address</p>
                <p>Albrecht.straub@gmail.com</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Phone Number</p>
                <p>+99 9539 2641 31</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Birthday</p>
                <p>Nov 15, 1990</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Social Profile</p>
                <p class="pb-3 social-button">
                    <a href="#" class="mb-1 btn btn-outline btn-twitter rounded-circle">
                        <i class="mdi mdi-twitter"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-linkedin rounded-circle">
                        <i class="mdi mdi-linkedin"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-facebook rounded-circle">
                        <i class="mdi mdi-facebook"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-skype rounded-circle">
                        <i class="mdi mdi-skype"></i>
                    </a>
                </p>
            </div> --}}
        </div>
    </div>

    <div class="mb-4">

        <div id="exTab2" class="container mb-5">
            <ul class="nav nav-tabs" style="font-size: 2.5rem;">
                <li class="active">
                    <a href="#1" data-toggle="tab">Overview</a>
                </li>
                <li><a href="#2" data-toggle="tab">Address</a>
                </li>
                <li><a href="#3" data-toggle="tab">Settings</a>
                </li>
            </ul>


            <div class="tab-content mb-4 ">
                <div class="tab-pane active" id="1" style="margin-top: 8rem;">

                    <div>
                        <p class="mt-3" style="font-size: 2rem;">Phone : {{userData.phone}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Email : {{userData.email}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Gender : {{userData.gender}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Gender : {{userData.age}}</p>
                    </div>



                </div>
                <div class="tab-pane" id="2">
                    {{#each userAddress}}
                    <div class="col-md-4">
                        <div class="card mt-5" style="width: 20rem;">
                            <div class="card-body">
                                <div style="">
                                    <h2 id="" class="card-title" style="font-size:2rem;">{{this.firstName}} <span
                                            id="">{{this.lastName}}</span></h2>
                                </div>
                                <p class="card-text n">{{this.streetAddress}}</p>
                                <p class="card-text n">{{this.town}}</p>
                                <p class="card-text n">{{this.state}}</p>
                                <p class="card-text n">{{this.country}}</p>
                                <p class="card-text n">{{this.pin}}</p>
                                <p class="card-text n mt-2">Company: {{this.company}}</p>
                                <p class="card-text n">{{this.email}}</p>
                                <p class="card-text n mb-2">{{this.phone}}</p>
                                <a href="#" class="card-link mt-3" style="font-size:1.5rem">Edit</a>
                                <a href="#" class="card-link" style="font-size:1.5rem">Remove</a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
                <div class="tab-pane" id="3">
                    <div class="mt-5">
                        <button class="btn btn-primary">Edit Profile</button>
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-primary">Delete Account</button>
                    </div>
                    
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>

</div>
</div>