<style>
    .n {
        font-size: 1.3rem;
    }

    .imgCircle:hover .image {
        opacity: 0.3;
    }

    .imgCircle:hover .change {
        opacity: 1;
    }

    .change {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .button {

        color: white;
        font-size: 16px;
        padding-bottom: 2rem;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous"></script>


<div class="">

    <div class="">
        <div class="profile-content-left pt-5 pb-3 px-3 px-xl-5 mt-5 mb-3">
            <div class="card text-center widget-profile px-0 border-0">
                <div class="card-img mx-auto rounded-circle imgCircle">
                    <img src="assets/img/user/u6.jpg" id="profilePhoto" class="image profilePhoto" alt="user image"
                        style="opacity: 1;
                                                                        display: block;
                                                                        width: 100%;
                                                                        height: auto;
                                                                        transition: .5s ease;
                                                                        backface-visibility: hidden;">

                    <div class="change">
                        <div class="button">
                            <button type="button" onclick="changePhoto()" class="btn btn-dark btn-pill btn-lg my-4"><i
                                    class="fas fa-edit"></i>
                            </button>

                            

                        </div>

                    </div>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Crop Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="result"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" id="load" class="btn btn-primary save">Save
                                    changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="file" class="" value="change" id="profilePhotoInput" hidden onchange="viewPhoto(event)">

                <textarea name="imageBase64Data" id="imageBase64Data" cols="30" rows="10" hidden></textarea>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Crop Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="result"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" id="load" class="btn btn-primary save">Save
                                    changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h4 style="font-size: 2rem;" class="py-2 text-dark">{{userData.firstName}} {{userData.lastName}}
                    </h4>
                    <p style="font-size: 1.5rem;">{{userData.email}}</p>
                    {{!-- <a class="btn btn-primary btn-pill btn-lg my-4" href="#">Change photo</a> --}}
                </div>
            </div>

            {{!--
            <hr class="w-100">
            <div class="contact-info pt-4">
                <h5 class="text-dark mb-1">Contact Information</h5>
                <p class="text-dark font-weight-medium pt-4 mb-2">Email address</p>
                <p>Albrecht.straub@gmail.com</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Phone Number</p>
                <p>+99 9539 2641 31</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Birthday</p>
                <p>Nov 15, 1990</p>
                <p class="text-dark font-weight-medium pt-4 mb-2">Social Profile</p>
                <p class="pb-3 social-button">
                    <a href="#" class="mb-1 btn btn-outline btn-twitter rounded-circle">
                        <i class="mdi mdi-twitter"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-linkedin rounded-circle">
                        <i class="mdi mdi-linkedin"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-facebook rounded-circle">
                        <i class="mdi mdi-facebook"></i>
                    </a>
                    <a href="#" class="mb-1 btn btn-outline btn-skype rounded-circle">
                        <i class="mdi mdi-skype"></i>
                    </a>
                </p>
            </div> --}}
        </div>
    </div>

    <div class="mb-4">

        <div id="exTab2" class="container" style="margin-top: 8rem;margin-bottom:15rem;">
            <ul class="nav nav-tabs" style="font-size: 2.5rem;">
                <li class="active">
                    <a href="#1" data-toggle="tab">Overview</a>
                </li>
                <li><a href="#2" data-toggle="tab">Address</a>
                </li>
                <li><a href="#3" data-toggle="tab">Settings</a>
                </li>
            </ul>


            <div class="tab-content mb-4 ">
                <div class="tab-pane active" id="1" style="margin-top: 10rem;">

                    <div>
                        <p class="mt-3" style="font-size: 2rem;">Phone : {{userData.phone}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Email : {{userData.email}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Gender : {{userData.gender}}</p>
                        <p class="mt-3" style="font-size: 2rem;">Age : {{userData.age}}</p>

                        <h4 class="mt-2">Referral Code: {{userData.referralCode}}788sf4r5f</h4>
                    </div>

                </div>
                <div class="tab-pane" id="2" style="margin-top: 3rem;">
                    {{#each userAddress}}
                    <div class="col-md-4" id="{{firstName}}{{streetAddress}}{{phone}}">
                        <div class="card mt-5" style="width: 20rem;">
                            <div class="card-body">
                                <div style="">
                                    <h2 id="" class="card-title" style="font-size:2rem;">{{this.firstName}} <span
                                            id="">{{this.lastName}}</span></h2>
                                </div>
                                <p class="card-text n">{{this.streetAddress}}</p>
                                <p class="card-text n">{{this.town}}</p>
                                <p class="card-text n">{{this.state}}</p>
                                <p class="card-text n">{{this.country}}</p>
                                <p class="card-text n">{{this.pin}}</p>
                                <p class="card-text n mt-2">Company: {{this.company}}</p>
                                <p class="card-text n">{{this.email}}</p>
                                <p class="card-text n mb-2">{{this.phone}}</p>
                                {{!-- <a class="card-link mt-3" style="font-size:1.5rem">Edit</a> --}}
                                <button class="btn" style="color: #d4970f;font-size: 1.5rem;"
                                    onclick="removeAddress('{{this.firstName}}','{{this.streetAddress}}','{{this.phone}}')"
                                    class="card-link" style="font-size:1.5rem">Remove</button>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
                <div class="tab-pane" id="3">
                    <div class="mt-5">
                        <button class="btn btn-primary">Edit Profile</button>
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-primary">Delete Account</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="partner-logo">
            <div class="container">
                <div class="logo-carousel owl-carousel">
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-1.png" alt="">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-2.png" alt="">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-3.png" alt="">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-4.png" alt="">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-left">
                            <div class="footer-logo">
                                <a href="#"><img src="img/footer-logo.png" alt=""></a>
                            </div>
                            <ul>
                                <li>Address: 60-49 Road 11378 New York</li>
                                <li>Phone: +65 11.188.888</li>
                                <li>Email: <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                        class="__cf_email__"
                                        data-cfemail="c8a0ada4a4a7e6aba7a4a7baa4a1aa88afa5a9a1a4e6aba7a5">[email&#160;protected]</a>
                                </li>
                            </ul>
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="footer-widget">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Serivius</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h5>My Account</h5>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Shopping Cart</a></li>
                                <li><a href="#">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="newslatter-item">
                            <h5>Join Our Newsletter Now</h5>
                            <p>Get E-mail updates about our latest shop and special offers.</p>
                            <form action="#" class="subscribe-form">
                                <input type="text" placeholder="Enter Your Mail">
                                <button type="button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-reserved">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">

                                Copyright &copy;
                                <script data-cfasync="false"
                                    src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                <script>document.write(new Date().getFullYear());</script> All rights reserved

                            </div>
                            <div class="payment-pic">
                                <img src="img/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>

</div>
</div>

<script>
    function removeAddress(firstName, streetAddress, phone) {
        $.ajax({
            url: '/removeAddress',
            data: {
                firstName: firstName,
                streetAddress: streetAddress,
                phone: phone
            },
            method: 'post',
            success: (response) => {
                if (response) {
                    document.getElementById(firstName + streetAddress + phone).style.display = "none"
                }
            }
        })

    }
</script>

<script>
    function changePhoto() {
        console.log('uui')
        $('#profilePhotoInput').click()

        let result = document.querySelector('.result'),
                save = document.querySelector('.save'),
                cropped = document.querySelector('.profilePhoto'),
                upload = document.querySelector('#profilePhotoInput'),
                cropper = '';

            upload.addEventListener('change', (e) => {
                if (e.target.files.length) {
                    // start file reader
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        if (e.target.result) {
                            // create new image
                            $("#exampleModalCenter").modal("show");
                            let img = document.createElement('img');
                            img.id = 'image';
                            img.src = e.target.result
                            // clean result before
                            result.innerHTML = '';
                            // append new image
                            result.appendChild(img);
                            // init cropper
                            cropper = new Cropper(img);
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
            save.addEventListener('click', (e) => {
                e.preventDefault();
                // get result to data uri
                let imgSrc = cropper.getCroppedCanvas({
                    width: 300 // img disp value
                }).toDataURL();
                $("#exampleModalCenter").modal("hide");

                console.log('src', imgSrc)


                cropped.src = imgSrc;

                console.log('imagee', imgSrc)
                $("#imageBase64Data").val(imgSrc);

                var base = document.getElementById('imageBase64Data').value
                console.log('kittiyeaa', base)
            });        

    }
</script>

<script>
    function viewPhoto(event) {
        document.getElementById('profilePhoto').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name

        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            
            $('#not-img-error').hide()
            $('#profilePhoto').show()
        } else {
            $('#not-img-error').show()
            
            $('#profilePhoto').hide()
        }

        var newPhoto = $('#profilePhotoInput').val()
        console.log('dey..', newPhoto)

        $.ajax({
            url: '/changeProfilePhoto',
            method: 'post',
            data: {
                profilePhoto: newPhoto
            },
            success: (response) => {
                if (response) {
                    alert('added')
                }
            }
        })
    }
</script>