<section id="importedProducts">
    <div class="demo" style="padding: 20px 0 30px;background: #fff;}">
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 col-sm-6 mt-4">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="/view_product/{{this.product._id}}1" class="image">
                                <img class="pic-1" src="/images/product-images/{{this.product._id}}1.jpg">
                                <img class="pic-2" src="/images/product-images/{{this.product._id}}2.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{this.product.name}}</a></h3>
                            <div class="price">&#8377; {{this.product.price}}</div>
                            <ul class="rating">
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="far fa-star"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>